<div class="panel">
  <div class="card-jogador">
    <div class="posicao-campo red">
      <p>ata</p>
    </div>
    <div class="ordem ng-star-inserted">1º</div>
    <!---->
    <div class="foto-jogador-escudo-time"><img onerror="this.src='assets/png/avatar-jogador.png';this.onerror=null;"
        class="foto-jogador"
        src="https://s.sde.globo.com/media/person_role/2022/03/01/aeb1926a6ddb270206f4ceffcf701d4b_80x80.png"><img
        class="escudo-time ng-star-inserted"
        src="https://s.sde.globo.com/media/organizations/2014/04/14/sao_paulo_60x60.png">
      <!---->
      <!---->
    </div>
    <!---->
    <div class="flex-row">
      <div class="nome-time-jogador">
        <span class="nome-jogador">Luciano</span>
        <span class="time">São Paulo</span>
      </div>
      <p class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-green">+11,10pts</span></p>
      <!---->
      <!---->
    </div>
  </div>

  <div class="card-jogador">
    <div class="posicao-campo red">
      <p>ata</p>
    </div>
    <div class="ordem ng-star-inserted">2º</div>
    <!---->
    <div class="foto-jogador-escudo-time"><img onerror="this.src='assets/png/avatar-jogador.png';this.onerror=null;"
        class="foto-jogador" src="https://s.sde.globo.com/media/person_role/2023/06/20/photo_80x80.png"><img
        class="escudo-time ng-star-inserted"
        src="https://s.sde.globo.com/media/organizations/2021/09/19/65_0000_Fortaleza-2021.png">
      <!---->
      <!---->
    </div>
    <!---->
    <div class="flex-row">
      <div class="nome-time-jogador">
        <span class="nome-jogador">Marinho</span>
        <span class="time">Fortaleza</span>
      </div>
      <p class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-green">+11,10pts</span></p>
      <!---->
      <!---->
    </div>
  </div>
</div>