<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>Listar Competição</h2>
      <button mat-raised-button color="primary" (click)="openCouponDialog(null)">Add Competição</button>
    </div>
    <mat-divider></mat-divider>

    
    <div class="card-grupo" *ngFor="let competicao of competicoes">
      <div class="logo-grupo"><img src='assets/images/avatars/avatar-jogador.png'></div> 
      <div class="info-grupo">
        <p class="nome">{{competicao.tipo_liga}}</p>
        <p class="qtd-times">adm: {{competicao.status_liga}}</p>
      </div>
    
      <div class="iconAdd" >
        <mat-icon color="warn"  >delete</mat-icon>
      </div>
    </div>
    

  </mat-card>


</div>
