<div class="p-2">
    <mat-card> 
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
        <h2>Listar Competição</h2>
        <button mat-raised-button color="primary" (click)="openCouponDialog(null)">Add Competição</button>
      </div>
      <mat-divider></mat-divider>
        <div class="mat-mdc-table admin-table">
            <div class="mat-mdc-header-row">
                <div class="mat-mdc-header-cell">Tipo</div>
                <div class="mat-mdc-header-cell">Situ.</div> 
                <div class="mat-mdc-header-cell">Ini Rdd</div>
                <div class="mat-mdc-header-cell">Fim Rdd</div>
                <div class="mat-mdc-header-cell">Valor</div>
                <div class="mat-mdc-header-cell">Tx adm</div>
                <div class="mat-mdc-header-cell"></div>
            </div>
            <div *ngFor="let competicao of competicoes " class="mat-mdc-row">
                <div class="mat-mdc-cell">{{competicao.tipo_liga}}</div> 
                <div class="mat-mdc-cell">  <span class="primary-text">{{competicao.status_liga}}</span></div>
                <div class="mat-mdc-cell">{{competicao.rodada_ini}}</div>
                <div class="mat-mdc-cell">{{ competicao.rodada_ini}}</div> 
                <div class="mat-mdc-cell">{{competicao.valor_competicao }}</div>     
                <div class="mat-mdc-cell">{{competicao.valor_tx_adm }}</div>    
                <div class="mat-mdc-cell">
                    <div class="p-2 actions">          
                        <button mat-mini-fab  matTooltip="Edit" (click)="openCouponDialog(competicao)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    
</div>
