<div class="panel">

 
  <mat-card-actions align="end">

    <button mat-button color="primary"  routerLink="/addTimeFavorito">
      <mat-icon>add</mat-icon>
      Buscar
    </button>

    <button mat-button >
      <mat-icon>get_app</mat-icon>
      Importar
    </button>
  
  </mat-card-actions>

  <div class="card card-time" *ngFor="let time of times; let i = index" >
    <div class="ordem-pontuacao">
      <p class="ordem">{{i + 1}}º</p>
      <!---->
    </div><img class="escudo-time-cartola" src="{{time.url_escudo_png}}">
    <div class="nome-time-criador" >
      <p class="time">{{time.nome}}</p>
      <p class="criador">{{time.nome_cartola}}</p>
    </div>
    
  </div>


</div>
