<div class="panel">

  <div *ngIf="emailVerified">

    <mat-card-actions align="end">
      <button mat-button color="primary" class="icon-button" routerLink="/addTimeFavorito">
        <mat-icon>add</mat-icon>
        Buscar
      </button>

      <button mat-button class="icon-button" (click)="openImportaDialog()">
        <mat-icon>get_app</mat-icon>
        Importar
      </button>
    </mat-card-actions>

    <div class="card card-time" *ngFor="let time of times; let i = index">
      <div class="ordem-pontuacao">
        <p class="ordem">{{i + 1}}º</p>
        <!---->
      </div><img class="escudo-time-cartola" src="{{time.url_escudo_png}}">
      <div class="nome-time-criador">
        <p class="time">{{time.nome}}</p>
        <p class="criador">{{time.nome_cartola}}</p>
      </div>

      <div class="iconAdd">
        <mat-icon color="warn" (click)="excluirTimeFavorito(time)">delete</mat-icon>
      </div>
    </div>
  </div>


  <div *ngIf="!emailVerified" class="sem-dados">
    <img src='assets/images/avatars/bola-de-futebol.png'>
    <p> <a routerLink="/sign-in" class="orange-link"> Efetue o LOGIN para cadastrar ou conferir seus times </a> </p>
  </div>

  
</div>