<div class="panel">
  <div class="card-jogador" *ngFor="let atleta of atletas; let i = index">
    <div class="posicao-campo red">
      <p>{{atleta.abreviacaoPosicao}}</p>
    </div>
    
    <!---->
    <div class="foto-jogador-escudo-time">
      <img 
        class="foto-jogador"
        src="{{atleta.foto}}">
        <img
        class="escudo-time"
        src="{{atleta.escudo}}">

        <img *ngIf="atleta.capitao"  src='assets/images/avatars/capitao.png' class="capitao">
      <!---->
      <!---->
    </div>
    <!---->
    <div class="flex-row">
      <div class="nome-time-jogador">
        <span class="nome-jogador">{{atleta.apelido}}</span>
        <span class="time">{{atleta.nome_fantasia}}</span>
      </div>
      <!---->
      <p *ngIf="atleta.pontuacao >= 0" class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-green">+{{atleta.pontuacao.toFixed(2)}}pts</span></p>
      <p *ngIf="atleta.pontuacao <  0" class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-red">{{atleta.pontuacao.toFixed(2)}}pts</span></p>
      <!---->
      <!---->
    </div>
  </div>

</div>