<mat-toolbar id="menu-toolbar" class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">

    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.HOME' | translate }}</a>
    
    <a mat-button [matMenuTriggerFor]="pages">Cartola<mat-icon class="caret" iconPositionEnd>arrow_drop_down</mat-icon></a>
    <mat-menu #pages="matMenu" [overlapTrigger]="false" class="app-dropdown">  
        <a mat-menu-item routerLink="/jogosCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.JOGOS_CARTOLA' | translate }}</a>
        <a mat-menu-item routerLink="/meuTimeCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.MEU_TIME_CARTOLA' | translate }}</a>
        <a mat-menu-item routerLink="/meuGrupoCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.MEU_GRUPO_CARTOLA' | translate }}</a>
        <a mat-menu-item routerLink="/atletaPontuadoCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.ATLETAS_PONTUADOS_CARTOLA' | translate }}</a>
    </mat-menu>
<!-- 
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.CONTACT' | translate }}</a> -->
    <a *ngIf="emailVerified" mat-button routerLink="/pixCheckout" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Pix</a>
    
    
</mat-toolbar>

