<mat-toolbar id="menu-toolbar" class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.HOME' | translate }}</a>
    
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.CONTACT' | translate }}</a>
    <a mat-button routerLink="/jogosCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.JOGOS_CARTOLA' | translate }}</a>
    <a mat-button routerLink="/meuTimeCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.MEU_TIME_CARTOLA' | translate }}</a>
    <a mat-button routerLink="/meuGrupoCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.MEU_GRUPO_CARTOLA' | translate }}</a>
    <a mat-button routerLink="/atletaPontuadoCartola" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.ATLETAS_PONTUADOS_CARTOLA' | translate }}</a>

    
</mat-toolbar>

