<div class="panel">
  <p class="panel-title">Jogos</p>

  <div class="card card-partida" *ngFor="let team of partidas | slice:0:3">
    <div class="time">
      <img class="escudo-time" src="{{team.escudosMandante}}">
      <p class="nome-time">{{team.nomeMandante}}</p>
    </div>
    <div class="detalhes">
      <!---->
      <p class="dia-horario">{{team.dataPartida}} - {{team.horaPartida}}</p>
      <p class="placar"> {{team.placar_oficial_mandante === null ? '-' : team.placar_oficial_mandante }}
        <span class="xSpan">X</span>{{team.placar_oficial_visitante === null ? '-' : team.placar_oficial_visitante }}
      </p>
      <!---->
      <p class="status"> Encerrada </p>
      <p class="estadio">{{team.local}}</p>
    </div>
    <div class="time">
      <img class="escudo-time" src="{{team.escudosVisitante}}">
      <p class="nome-time">{{team.nomeVisitante}}</p>
    </div>
  </div>
  
   <a *ngIf="partidas.length" routerLink="/jogosCartola" class="orange-link" > Ver todas as partidas</a> 

  <div *ngIf="!partidas.length" class="sem-dados">
    <img src='assets/images/avatars/bola-de-futebol.png'> 
     <p  >Lista de jogos não disponibilizada.</p>
  </div>

</div>

<div class="panel">
  <p class="panel-title">Meus Times</p>
  <div class="ng-star-inserted">
    <div class="ng-star-inserted">
      <div class="card card-time">
        <div class="ordem-pontuacao">
          <p class="ordem">1000°</p>
          <!---->
        </div><img class="escudo-time-cartola"
          src="https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_185/escudo/f3/40/53/00c5aaf98b-57e7-475c-80e9-0770de77b6f320210429204053">
        <div class="nome-time-criador">
          <p class="time">app pointdojogador2</p>
          <p class="criador">iOS e Android</p>
        </div>
        <div class="pontos">
          <p class="total text-green">134,03</p>
          <p class="pontuados">12/12</p>
        </div>
        <!---->
      </div>
    </div>
    <!---->
    <!---->
  </div>
  <a  routerLink="/meuTimeCartola" class="orange-link" > Ver todos os times</a>
</div>

<div class="panel">
  <p class="panel-title">Meus Grupos</p>

  <div class="card-grupo"  *ngFor="let grupo of grupos | slice:0:3">
    <div class="logo-grupo"><img src='assets/images/avatars/grupo.png'></div>
    <div class="info-grupo" (click)="listarTimeGrupoCartola(grupo)">
      <p class="nome">{{grupo.nome_grupo}}</p>
      <p class="qtd-times">{{grupo.count}}</p>
    </div>
 
    
  </div>

  <div *ngIf="!grupos.length" class="sem-dados">
    <img src='assets/images/avatars/bola-de-futebol.png'> 
     <p  >Você ainda não possui grupos.</p>
     <p  > <a routerLink="/meuGrupoCartola" class="orange-link" > Ir para grupos</a> </p>
  </div>

  

  <a *ngIf="grupos.length" routerLink="/meuGrupoCartola" class="orange-link" > Ver todos os grupos</a> 

</div>

<div class="panel">
  <p class="panel-title">Atletas Pontuados</p>


  <div class="card-jogador">
    <div class="posicao-campo red">
      <p>ata</p>
    </div>
    <div class="ordem ng-star-inserted">1º</div>
    <!---->
    <div class="foto-jogador-escudo-time"><img onerror="this.src='assets/png/avatar-jogador.png';this.onerror=null;"
        class="foto-jogador"
        src="https://s.sde.globo.com/media/person_role/2022/03/01/aeb1926a6ddb270206f4ceffcf701d4b_80x80.png"><img
        class="escudo-time ng-star-inserted"
        src="https://s.sde.globo.com/media/organizations/2014/04/14/sao_paulo_60x60.png">
      <!---->
      <!---->
    </div>
    <!---->
    <div class="flex-row">
      <div class="nome-time-jogador">
        <span class="nome-jogador">Luciano</span>
        <span class="time">São Paulo</span>
      </div>
      <p class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-green">+125,10pts</span></p>
      <!---->
      <!---->
    </div>
  </div>

  <div class="card-jogador">
    <div class="posicao-campo red">
      <p>ata</p>
    </div>
    <div class="ordem ng-star-inserted">2º</div>
    <!---->
    <div class="foto-jogador-escudo-time"><img onerror="this.src='assets/png/avatar-jogador.png';this.onerror=null;"
        class="foto-jogador" src="https://s.sde.globo.com/media/person_role/2023/06/20/photo_80x80.png"><img
        class="escudo-time ng-star-inserted"
        src="https://s.sde.globo.com/media/organizations/2021/09/19/65_0000_Fortaleza-2021.png">
      <!---->
      <!---->
    </div>
    <!---->
    <div class="flex-row">
      <div class="nome-time-jogador">
        <span class="nome-jogador">Marinho</span>
        <span class="time">Fortaleza</span>
      </div>
      <p class="pontosjogador"><span class="titulo">Pontuação</span><span class="text-green">+11,10pts</span></p>
      <!---->
      <!---->
    </div>
  </div>

  <a routerLink="/atletaPontuadoCartola" class="orange-link" > Ver todos os jogadores</a>

</div>
