<div class="panel">

  <mat-card-actions>
    <button mat-button (click)="listarTimeGrupoCartola()">
      <mat-icon>keyboard_return</mat-icon>
      {{nome_grupo}}
    </button>
    
  </mat-card-actions>

  <mat-form-field appearance="outline">
    <mat-label>Buscar times</mat-label>
    <input matInput [(ngModel)]="nomeTime">
    <button type="button" mat-icon-button matSuffix (click)="listarTimesPorNome()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-divider></mat-divider>


  <div class="card card-time" *ngFor="let time of times; let i = index">
    <div class="ordem-pontuacao">
      <p class="ordem">{{i + 1}}º</p>
      <!---->
    </div><img class="escudo-time-cartola" src="{{time.url_escudo_png}}">
    <div class="nome-time-criador">
      <p class="time">{{time.nome}}</p>
      <p class="criador">{{time.nome_cartola}}</p>
    </div>

    <div *ngIf="time.achou" class="iconAdd" >
      <mat-icon >block</mat-icon>
    </div>

    <div *ngIf="!time.achou" class="iconAdd">
      <mat-icon  style="-webkit-text-fill-color:blue"  *ngIf="!time.inPoint" (click)="addTimeGrupo(time)">add</mat-icon>
      <mat-icon  style="-webkit-text-fill-color:green"  *ngIf="time.inPoint"  (click)="addTimeGrupo(time)">check</mat-icon>
    </div>

    

  </div>



</div>