
.view {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(36,74,114,.3);
  border-radius: 24px;
  margin: 20px 0;
  min-height: 340px;
}

.view__title {
  height: 48px;
  min-height: 48px;
  background-color: #689f38;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nh-NavigationHeaderModule {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  cursor:pointer;
  font-size:22px;
  text-align:left;
  color:#282828;
  padding:19px 15px;
  line-height:32px;
  font-weight:700;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  min-height:70px;
  position:relative
 }
 .nh-NavigationHeaderModule.nh-NavigationHeaderModule-wide {
  cursor:default;
  height:auto;
  padding:35px 15px 25px
 }
 .nh-NavigationHeaderModule.nh-NavigationHeaderModule-nomenu {
  cursor:default
 }
 .nh-NavigationHeaderModule.nh-NavigationHeaderModule-longtext {
  font-size:18px
 }
 .nh-NavigationHeaderModule.nh-NavigationHeaderModule_DepositOverride {
  padding-bottom:15px
 }
 .nh-NavigationHeaderModule_Title {
  padding-right:19px
 }
 .nh-NavigationHeaderModule-wide .nh-NavigationHeaderModule_Title {
  padding-right:0
 }
 
 .WithdrawableContainer {
  padding: 0 15px;
  border-bottom: 1px solid #9c9c9c;
}

.bbm-Balances_Title {
  color: #282828;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  padding-right: 10px;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 27px;
  max-height: calc(27px * 2);
}

.bbm-Balances_Amount {
  color: #282828;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 2px;
}

.bbm-Balances_WithdrawableContainer {
  padding: 0 15px;
  border-bottom: 1px solid #9c9c9c;
}

.bbm-Balances_Container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bbm-BalancesModule {
  margin-bottom: 40px;
}

