<h1 mat-dialog-title>Competicao</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="user-form">
    <div mat-dialog-content> 
        
                <div fxLayout="row wrap" class="mt-3">
                    
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tipo Liga</mat-label>
                            <mat-select formControlName="tipo_liga">
                                <mat-option [value]="">-</mat-option>
                                <mat-option *ngFor="let tipo of tiposLigas" [value]="tipo.desc">
                                    <span>{{tipo.desc}}</span>
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Situacao Liga</mat-label>
                            <mat-select formControlName="status_liga">
                                <mat-option [value]="">-</mat-option>
                                <mat-option *ngFor="let tipo of situacaoLigas" [value]="tipo.desc">
                                    <span>{{tipo.desc}}</span>
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div>

                    
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Inicio Rodada</mat-label>
                            <input matInput formControlName="rodada_ini"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Fim Rodada</mat-label>
                            <input matInput formControlName="rodada_fim"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Data Fim Insicrição</mat-label>
                            <input matInput formControlName="data_fim_inscricao"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Hora Fim Insicrição</mat-label>
                            <input matInput formControlName="hora_fim_inscricao"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Valor competição</mat-label>
                            <input matInput formControlName="valor_competicao"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Taxa adm</mat-label>
                            <input matInput formControlName="valor_tx_adm"> 
                        </mat-form-field>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Link Whatsapp</mat-label>
                            <input matInput formControlName="link_grupo_wapp"> 
                        </mat-form-field>
                    </div> 
                    
                    
                    
                    <div fxFlex="100" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>descrição</mat-label>
                            <input matInput formControlName="tx_descricao_liga">
                        </mat-form-field>
                    </div> 
                </div>  
           
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div> 
    </div>
</form>