<div class="panel">

  <mat-card-actions align="end">
    <button mat-button  routerLink="/meuGrupoCartola">
      <mat-icon>keyboard_return</mat-icon>
      Voltar
    </button>

    <div fxFlex></div>

    <button mat-button color="primary" routerLink="/addTimeGrupoCartola">
      <mat-icon>add</mat-icon>
      Buscar
    </button>
  
  </mat-card-actions>


  <div class="card card-time">
    <div class="ordem-pontuacao">
      <p class="ordem">1°</p>
      <!---->
    </div><img class="escudo-time-cartola"
      src="https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_185/escudo/f3/40/53/00c5aaf98b-57e7-475c-80e9-0770de77b6f320210429204053">
    <div class="nome-time-criador">
      <p class="time">app pointdojogador2</p>
      <p class="criador">iOS e Android</p>
    </div>
    <div class="pontos">
      <p class="total text-green">134,03</p>
      <p class="pontuados">12/12</p>
    </div>
  </div>
  
</div>
