<div class="panel">

  <mat-card-actions align="end">
    <button mat-button  routerLink="/meuGrupoCartola">
      <mat-icon>keyboard_return</mat-icon>
      {{nome_grupo}}
    </button>

    <div fxFlex></div>

    <button mat-button color="primary" (click)="addTimeGrupo()" >
      <mat-icon>add</mat-icon>
      Buscar
    </button>
  
  </mat-card-actions>


  <div class="card card-time" *ngFor="let time of times; let i = index">
    <div class="ordem-pontuacao">
      <p class="ordem">{{i + 1}}º</p>
      <!---->
    </div><img class="escudo-time-cartola" src="{{time.url_escudo_png}}">
    <div class="nome-time-criador">
      <p class="time">{{time.nome}}</p>
      <p class="criador">{{time.nome_cartola}}</p>
    </div>
    <div class="pontos">
      <p class="total text-green">134,03</p>
      <p class="pontuados">12/12</p>
    </div>
  </div>
  
</div>
