<div class="panel">


  <mat-card-actions align="end">
  
    <button mat-button color="primary">
      <mat-icon>add</mat-icon>
      Criar
    </button>

    <button mat-button>
      <mat-icon>get_app</mat-icon>
      Importar
    </button>

  </mat-card-actions>


  <div class="card-grupo" [routerLink]="['/listarTimeGrupoCartola']">
    <div class="logo-grupo"><img src='assets/images/avatars/grupo.png'></div>
    <div class="info-grupo">
      <p class="nome">teste</p>
      <p class="qtd-times">0 times</p>
    </div>
  </div>




</div>
