<div class="card-competicao" *ngFor="let competicao of competicoes">
                                    
    <div class="logo-competicao"><img [src]="'assets/images/logoCompeticao/'+competicao.liga_id+'.png'" ></div>
  <div class="info-competicao">
    <div class="foto-jogador-escudo-time">
      <mat-chip-option color="primary" highlighted selectable="false">R${{competicao.valor_competicao}}</mat-chip-option>
    </div>
    <div class="situacao-liga">
      &nbsp;&nbsp;
      <mat-chip-option *ngIf="aberto" class="color-chip"  highlighted selectable="false">#{{rodada}} {{competicao.status_liga}}</mat-chip-option>
      <mat-chip-option *ngIf="!aberto" color="warn"  highlighted selectable="false">#{{rodada}} {{competicao.status_liga}}</mat-chip-option>
      &nbsp;&nbsp;
      
        <mat-chip-option class="color-parcial"  highlighted selectable="false" (click)="viewTimesCompeticao(competicao)">
          <mat-icon class="visibility">visibility</mat-icon>
         Parcial 
      </mat-chip-option>

    </div>
    <p class="nome">{{competicao.tipo_liga}}</p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>headset_mic</mat-icon>
      <span>&nbsp;&nbsp;Adm: {{competicao.nome}}</span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>list</mat-icon>
      <span>&nbsp;&nbsp;{{competicao.totalParticipantes}} <span style="font-size: 10px;">(times inscritos) </span></span>
    </p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>attach_money</mat-icon>
      <span>&nbsp;&nbsp;{{competicao.premiacaoFinalFormat}} <span style="font-size: 10px;">(premiação) </span></span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>schedule</mat-icon>
      <span>&nbsp;&nbsp;Inscrições até: {{competicao.data_fim_inscricao}} às  {{competicao.hora_fim_inscricao}}</span>
    </p>

  </div>

  <div *ngIf="aberto"  class="iconAdd" (click)="participarCompeticaoCartola(competicao)" >
      <mat-icon class="customIconSize">input</mat-icon>
  </div>

  <div *ngIf="!aberto" class="iconAdd" (click)="viewTimesCompeticao(competicao)" >
    <mat-icon class="customIconSize">visibility</mat-icon>
</div>
</div>
