<div class="card-competicao" *ngFor="let competicao of competicoes">
  <div class="logo-competicao"><img src={{competicao.path_image}}></div>
  <div class="info-competicao">
    <div class="situacao-liga">
      <mat-chip-option color="primary" highlighted selectable="false">R${{competicao.valor_competicao}}</mat-chip-option>
      &nbsp;&nbsp;
      <mat-chip-option color="warn" highlighted selectable="false">#35 {{competicao.status_liga}}</mat-chip-option>
    </div>
    <p class="nome">{{competicao.tipo_liga}}</p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>headset_mic</mat-icon>
      <span>&nbsp;&nbsp;Adm: {{competicao.nome}}</span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>list</mat-icon>
      <span>&nbsp;&nbsp;{{competicao.totalParticipantes}} <span style="font-size: 10px;">(times inscritos) </span></span>
    </p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>attach_money</mat-icon>
      <span>&nbsp;&nbsp;{{competicao.premiacaoFinalFormat}} <span style="font-size: 10px;">(premiação) </span></span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>schedule</mat-icon>
      <span>&nbsp;&nbsp;Inscrições até: {{competicao.data_fim_inscricao}} às  {{competicao.hora_fim_inscricao}}</span>
    </p>

  </div>

  <div class="iconAdd" routerLink="/participarCompeticaoCartola" >
      <mat-icon class="customIconSize">input</mat-icon>
  </div>
</div>
