<div class="card-competicao">
  <div class="logo-competicao"><img src={{path_image}}></div>
  <div class="info-competicao">
    <div class="situacao-liga">
      <mat-chip-option color="primary" highlighted selectable="false">R$4,00</mat-chip-option>
      &nbsp;&nbsp;
      <mat-chip-option color="warn" highlighted selectable="false">#35 FECHADA</mat-chip-option>
    </div>
    <p class="nome">{{nome_liga}}</p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>headset_mic</mat-icon>
      <span>&nbsp;&nbsp;Adm: Piterson</span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>list</mat-icon>
      <span>&nbsp;&nbsp;500 <span style="font-size: 10px;">(times inscritos) </span></span>
    </p>
    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>attach_money</mat-icon>
      <span>&nbsp;&nbsp;6.000.00 <span style="font-size: 10px;">(premiação) </span></span>
    </p>

    <p fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>schedule</mat-icon>
      <span>&nbsp;&nbsp;Inscrições até: 16/02 às 16:00</span>
    </p>

  </div>

  <div class="iconAdd">
      <mat-icon class="customIconSize">input</mat-icon>
  </div>
</div>
